**/target

**/.vscode

# Ignore all wasm files, except the empty ones
**/*.wasm
!empty.wasm

# Do not track the bindings
# See: https://github.com/bytecodealliance/cargo-component/issues/255
**/bindings.rs

# Added by cargo

/target
